# Create a Postgres database on Vercel: https://vercel.com/postgres
POSTGRES_URL=
POSTGRES_PRISMA_URL=
POSTGRES_URL_NON_POOLING=

# Generate one here: https://generate-secret.vercel.app/32 (only required for localhost)
AUTH_SECRET=


# Create a Postgres database on Vercel: https://vercel.com/postgres
# POSTGRES_URL="postgresql://postgres_USER:POSTGRES_PASSWORD@<HOST>:5432/DB_NAME"
# DIRECT_URL="postgresql://postgres_USER:POSTGRES_PASSWORD@<HOST>:5432/DB_NAME"
